/**
 * Archetype-test
 *
 * test page styles
 *
 */
/**
 * Gray-scale values
 */
/**
 * Test Header
 */
/* line 21, ../sass/test.scss */
.test-header {
  font-size: 2em;
  font-family: helvetica, sans-serif;
  padding: 20px;
  margin: 20px 0 0 0;
  color: #999;
}

/**
 * Test Title
 */
/* line 32, ../sass/test.scss */
.test-title {
  font-size: 1.5em;
  font-family: helvetica, sans-serif;
  padding: 20px;
  margin: 20px 0 0 0;
  background: #f2f2f2;
  color: #a6a6a6;
  border-left: 5px solid #bfbfbf;
}

/**
 * Test Description
 *
 * Styles for the test description detailing the test's expectation
 */
/* line 47, ../sass/test.scss */
.test-description {
  background: #f2f2f2;
  border-left: 5px solid #bfbfbf;
  color: #a6a6a6;
  font-family: helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
  margin: 0 0 2em 1em;
  padding: 0 1em 1em 2em;
  font-size: 1em;
  margin: 0 0 1em 0;
}

/* line 60, ../sass/test.scss */
.test {
  background: #d9d9d9;
  border: 1px solid #a6a6a6;
  margin: 1em 0 1em 2em;
  max-width: 400px;
  padding: .5em;
}

/* line 68, ../sass/test.scss */
.Test-describe:before,
.Test-it:before {
  color: #a6a6a6;
  display: inline-block;
  margin-right: 10px;
  min-width: 30px;
  text-transform: uppercase;
}

/* line 78, ../sass/test.scss */
body {
  color: #8c8c8c;
}

/* line 82, ../sass/test.scss */
a {
  color: blue;
}
/* line 84, ../sass/test.scss */
a:visited {
  color: blue;
}
/* line 87, ../sass/test.scss */
a:hover {
  color: purple;
}
/* line 90, ../sass/test.scss */
a:focus {
  color: blue;
}
