/**
 * Archetype-test
 *
 * test page styles
 *
 */


/**
 * Gray-scale values
 */
$gray: darken(white, 35%);
$gray-dark: darken($gray, 10%);
$gray-light: lighten($gray, 10%);
$gray-lighter: lighten($gray, 20%);
$gray-lightest: lighten($gray, 30%);

/**
 * Test Header
 */
.test-header {
  font-size: 2em;
  font-family: helvetica, sans-serif;
  padding: 20px;
  margin: 20px 0 0 0;
  color: #999;
}

/**
 * Test Title
 */
.test-title {
  font-size: 1.5em;
  font-family: helvetica, sans-serif;
  padding: 20px;
  margin: 20px 0 0 0;
  background: $gray-lightest;
  color: $gray;
  border-left: 5px solid $gray-light;
}

/**
 * Test Description
 *
 * Styles for the test description detailing the test's expectation
 */
.test-description {
  background: $gray-lightest;
  border-left: 5px solid $gray-light;
  color: $gray;
  font-family: helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
  margin: 0 0 2em 1em;
  padding: 0 1em 1em 2em;
  font-size: 1em;
  margin: 0 0 1em 0;
}

.test {
  background: $gray-lighter;
  border: 1px solid $gray;
  margin: 1em 0 1em 2em;
  max-width: 400px;
  padding: .5em;
}

.Test-describe:before,
.Test-it:before {
    color: $gray;
    display: inline-block;
    margin-right: 10px;
    min-width: 30px;
    text-transform: uppercase;
}


body {
  color: $gray-dark;
}

a {
  color: blue;
  &:visited { 
    color: blue; 
  }
  &:hover { 
    color: purple; 
  } 
  &:focus { 
    color: blue; 
  }
}

